In [2]:
import pandas as pd

In [3]:
df = pd.read_json("../Data/MLA_100k.jsonlines",lines=True)

In [4]:
df.head()

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,...,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,...,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,...,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,[],new,None,[],580.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",143001605,...,active,None,NaN,NaN,1,2015-09-28 18:47:56+00:00,http://articulo.mercadolibre.com.ar/MLA-581877...,"{'latitude': -34.6281894, 'longitude': -58.492...",0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",96873449,...,active,None,NaN,NaN,1,2015-08-24 22:07:20+00:00,http://articulo.mercadolibre.com.ar/MLA-576112...,"{'latitude': -34.6346547, 'longitude': -58.549...",0,1

Con este primer acercamiento a los datos podemos observar que la variable que nos interesa es la variable "condition", centraremos nuestro analisis en esta variable aunque primero vamos a ver si descartamos algunas colunmas que a primera vista parecen ser innecesarias.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       float64
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  datetime64[ns, UTC]
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       float64
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  datetime64[ns, UTC]
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(7), int64(4), object(33)
memory usage: 35.3+ MB

In [7]:
df.describe()

,base_price,seller_id,price,official_store_id,differential_pricing,original_price,catalog_product_id,subtitle,initial_quantity,sold_quantity,available_quantity
count,1.000000e+05,1.000000e+05,1.000000e+05,818.000000,0.0,143.000000,1.100000e+01,0.0,100000.000000,100000.000000,100000.000000
mean,5.252423e+04,8.425269e+07,5.252433e+04,206.443765,NaN,1593.341958,3.727643e+06,NaN,35.093370,2.396990,34.842380
std,8.623127e+06,5.497257e+07,8.623127e+06,128.252953,NaN,2245.798072,1.884698e+06,NaN,421.076196,42.685077,420.808403
min,8.400000e-01,1.304000e+03,8.400000e-01,1.000000,NaN,120.000000,9.440400e+04,NaN,1.000000,0.000000,1.000000
25%,9.000000e+01,3.953591e+07,9.000000e+01,84.000000,NaN,449.000000,3.050702e+06,NaN,1.000000,0.000000,1.000000
50%,2.500000e+02,7.631063e+07,2.500000e+02,216.000000,NaN,858.000000,5.093232e+06,NaN,1.000000,0.000000,1.000000
75%,8.000000e+02,1.325659e+08,8.000000e+02,312.750000,NaN,1500.000000,5.103216e+06,NaN,2.000000,0.000000,2.000000
max,2.222222e+09,1.946906e+08,2.222222e+09,446.000000,NaN,13999.000000,5.434513e+06,NaN,9999.000000,8676.000000,9999.000000

In [8]:
total_filas = len(df)
porcentaje_faltantes = (df.isnull().sum() / total_filas) * 100
print(porcentaje_faltantes)

seller_address                        0.000
warranty                             60.896
sub_status                            0.000
condition                             0.000
seller_contact                       97.781
deal_ids                              0.000
base_price                            0.000
shipping                              0.000
non_mercado_pago_payment_methods      0.000
seller_id                             0.000
variations                            0.000
location                              0.000
site_id                               0.000
listing_type_id                       0.000
price                                 0.000
attributes                            0.000
buying_mode                           0.000
tags                                  0.000
listing_source                        0.000
parent_item_id                       23.011
coverage_areas                        0.000
category_id                           0.000
descriptions                          0.000
last_updated                          0.000
international_delivery_mode           0.000
pictures                              0.000
id                                    0.000
official_store_id                    99.182
differential_pricing                100.000
accepts_mercadopago                   0.000
original_price                       99.857
currency_id                           0.000
thumbnail                             0.000
title                                 0.000
automatic_relist                      0.000
date_created                          0.000
secure_thumbnail                      0.000
stop_time                             0.000
status                                0.000
video_id                             97.015
catalog_product_id                   99.989
subtitle                            100.000
initial_quantity                      0.000
start_time                            0.000
permalink                             0.000
geolocation                           0.000
sold_quantity                         0.000
available_quantity                    0.000
dtype: float64

In [9]:
df.parent_item_id.describe()

count            76989
unique           76989
top       MLA570689700
freq                 1
Name: parent_item_id, dtype: object

In [12]:
df.parent_item_id.head(20)

0     MLA568261029
1     MLA561574487
2     MLA568881256
3             None
4     MLA566354576
5     MLA562683364
6             None
7     MLA574564215
8             None
9     MLA544182842
10    MLA565195744
11    MLA578701581
12    MLA579080426
13            None
14    MLA572828928
15    MLA570120997
16    MLA570336487
17            None
18    MLA573319394
19    MLA566522884
Name: parent_item_id, dtype: object

Con estos baicos procedimientos podemos observar que la columna parent_item_id parece ser es una sucesion de identificadores por producto lo que nos indica que no es necesaria para nuestro analisis ademas cuenta co un procentaje arededor del 23 lo que nos indica que tiene mucha informacion faltante por lo que decido descartarla para nuestro modelo

In [14]:
df.seller_contact.head()

0    None
1    None
2    None
3    None
4    None
Name: seller_contact, dtype: object

In [17]:
df.seller_contact.count()

np.int64(2219)

In [21]:
df.seller_contact.dropna().head(20)

54      {'area_code2': '', 'phone2': '', 'webpage': ''...
59      {'area_code2': '011', 'phone2': '4362-5802', '...
151     {'area_code2': '', 'phone2': '', 'webpage': ''...
213     {'area_code2': '', 'phone2': '', 'webpage': ''...
261     {'area_code2': '', 'phone2': '', 'webpage': ''...
326     {'area_code2': '', 'phone2': '', 'webpage': ''...
414     {'area_code2': '', 'phone2': '', 'webpage': ''...
484     {'area_code2': '', 'phone2': '', 'webpage': ''...
508     {'area_code2': '', 'phone2': '', 'webpage': ''...
596     {'area_code2': '', 'phone2': '', 'webpage': ''...
725     {'area_code2': '', 'phone2': '', 'webpage': ''...
727     {'area_code2': '', 'phone2': '', 'webpage': ''...
844     {'area_code2': '', 'phone2': '', 'webpage': ''...
917     {'area_code2': '', 'phone2': '', 'webpage': ''...
1095    {'area_code2': '', 'phone2': '', 'webpage': ''...
1130    {'area_code2': '', 'phone2': '', 'webpage': ''...
1214    {'area_code2': '', 'phone2': '', 'webpage': ''...
1250    {'area_code2': '', 'phone2': '', 'webpage': ''...
1273    {'area_code2': '', 'phone2': '', 'webpage': ''...
1280    {'area_code2': '', 'phone2': '', 'webpage': ''...
Name: seller_contact, dtype: object

Esto es bastante sospechoso ya que no tiene casi datos y concuerda con lo visto anterior mente ya que cuenta con cerca del 97% de los datos faltantes asi que por eso mismo voy a descartarlo

In [20]:
df.warranty.dropna().head(20)

1                                    NUESTRA REPUTACION
4                                        MI REPUTACION.
5                                                    Sí
8                                                 1 Ano
12                                  VACIOS sin utilizar
16                         Se ve en el dia de la compra
20            100% de acuerdo a descripcion e imagenes.
26                             Sí. Librería a la calle.
27                                                   Sí
30                                   Mis calificaciones
33                              X CUENTA DEL FABRICANTE
36                                                1 año
37                                         Sin garantía
38                                         Sin garantía
42             12 meses garantia oficial del fabricante
46    Oferta con confianza - Revisa nuestras Calific...
47                                              3 MESES
48                                         Sin garantía
49                                                   Sí
50    El artículo se encuentra en la condiciones des...
Name: warranty, dtype: object

segun se observa esta colunma no tiene informacion valiosa o que se pueda cuantificar de forma que nos sirva para el entrenamiento del modelon ademas de que cuenta con cerca del 60 % dee la informacion faltante lo que nos genera un sesgo muy grande en el modelo, por tanto se descarta.